<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NBA Score Margin Graph</title>
</head>
<body>
    <form action="#"  th:action="@{/graph}" th:object="${gamescore}" method="post">
        <select name="game" value="PlayByPlayService" method="POST">
            <tr>
                <option th:each="gamescore: ${gamescores}" th:text="${gamescore.gameName}" th:value="${gamescore.gameID}"> Select a Game</option>
            </tr>
        </select>
        <input type="submit" value="View score margin graph">
    </form>
</body>
</html>